<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div>
    <link rel="stylesheet" href="/css/mdui.min.css">
    <script src="/js/mdui.min.js"></script>
    <link rel="stylesheet" href="/danmu/dist/css/danmuplayer.css">
    <link rel="stylesheet" href="/swal.min.css">
    <script src="/vue.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/jq.js"></script>
    <script src="/danmu/dist/js/danmuplayer.js"></script>
    <script src="/swal.min.js"></script>
    <style>
        body{
            background-color: rgba(178, 182, 184, 0.08);
        }
        .headbar{
            background-color: dodgerblue;
            color: white;
            position: fixed;
            top: 0px;
        }
    </style>

    <div class="mdui-toolbar headbar">
        <span class="mdui-typo-title"><a style="color: #fff;text-decoration: none;" href="/"><i>Simon Says 最燃最皮的弹幕社区</i></a></span>
        <div class="mdui-toolbar-spacer"></div>
    </div>
</div>

</html>